<!doctype html>
<html lang="en" ng-app="cadEmpModulo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../../../../favicon.ico">

    <title>Sistema de Gestão de Academia - Cadastro de Empresa</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="css/navbar.css" rel="stylesheet">

    <script src="controller/cadastroDeEmpresa.js"></script>



  </head>

  <body ng-controller="cadEmpController">

   <div ng-include src="'menu.html'"></div>
    <center><h2>Cadastro de Empresa</h2></center>

  <div class="container">  
    <form>
      <div class="form-row">
      <div class="form-group col-md-1">
                  <label for="id">Id</label>
                  <input type="text" readonly="readonly" ng-model="cadastro.id" class="form-control" id="id" name="id" >
                  
        </div>
      </div>
       <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputEmail4">Razão Social</label>
          <input type="text" ng-model="cadastro.razaoSocial" class="form-control" id="razaoSocial" name="razaoSocial"  placeholder="Razão Social">
        </div>
        <div class="form-group col-md-4">
          <label for="inputEmail4">Nome Fantasia</label>
          <input type="text" ng-model="cadastro.nomeFantasia" class="form-control" id="nomeFantasia" name="nomeFantasia"  placeholder="Nome Fantasia">
        </div>
        <div class="form-group col-md-4">
          <label for="inputEmail4">Nome Resposável</label>
          <input type="text" ng-model="cadastro.nomeResponsavel" class="form-control" id="nomeResponsavel" name="nomeResponsavel"  placeholder="Nome Resposável">
        </div>

      </div>
      <div class="form-row">
        
        <div class="form-group col-md-3">
          <label for="inputPassword4">CNPJ</label>
          <input type="text" ng-model="cadastro.cnpj" name="cnpj" maxlength="16" OnKeyPress="formatar('##.###.###/##-##', this)" class="form-control" id="cnpj" placeholder="CNPJ">
        </div>
       
       <div class="form-group col-md-5">
          <label for="inputEmail4">Email</label>
          <input type="email" ng-model="cadastro.email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <div class="form-group col-md-2">
          <label for="inputPassword4">Telefone + DDD</label>
          <input type="text" ng-model="cadastro.telefone" class="form-control" id="telefone" name="telefone" placeholder="(DDD) + Telefone">
        </div>
        <div class="form-group col-md-2">
          <label for="inputPassword4">Celular + DDD</label>
          <input type="text" ng-model="cadastro.celular" class="form-control" id="celular" name="celular" placeholder="(DDD) + Celular">
        </div>
       </div>

      
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputCity">Endereço</label>
          <input type="text" ng-model="cadastro.endereco" class="form-control" id="endereco" name="endereco" placeholder="Endereço + Número">
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Bairro</label>
          <input type="text" ng-model="cadastro.bairro" class="form-control" id="bairro" name="bairro" placeholder="Bairro">
        </div>

        <div class="form-group col-md-2">
          <label for="inputZip">Cidade</label>
          <input type="text" ng-model="cadastro.cidade" class="form-control" id="cidade" name="cidade" placeholder="Cidade">
        </div>
        <div class="form-group col-md-1">
            <label for="inputState">UF</label>
            <select  ng-model="cadastro.uf" id="uf" name="uf" class="form-control">
              <option selected>--</option>
              <option>AC</option>
              <option>AL</option>
              <option>AP</option>
              <option>AM</option>
              <option>BA</option>
              <option>CE</option>
              <option>DF</option>
              <option>ES</option>
              <option>GO</option>
              <option>MA</option>
              <option>MT</option>
              <option>MS</option>
              <option>MG</option>
              <option>PA</option>
              <option>PB</option>
              <option>PR</option>
              <option>PE</option>
              <option>PI</option>
              <option>RJ</option>
              <option>RN</option>
              <option>RS</option>
              <option>RO</option>
              <option>RR</option>
              <option>SC</option>
              <option>SP</option>
              <option>SE</option>
              <option>TO</option>
          </select>
        </div>  
        <div class="form-group col-md-2">
          <label for="inputZip">País</label>
          <input type="text" ng-model="cadastro.pais" class="form-control" id="cidade" name="cidade" placeholder="Cidade">
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">CEP</label>
          <input type="text" ng-model="cadastro.cep" class="form-control" id="cidade" name="cidade" placeholder="Cidade">
        </div>


      </div>
      
      
      <button type="submit" ng-click="limparCampos()" class="btn btn-success">Novo</button>
      <button type="submit" ng-disabled="!cadastro.razaoSocial" ng-click="salvar()" class="btn btn-primary">Salvar</button>
      <button type="submit" ng-click="excluir()"  class="btn btn-danger">Excluir</button>
      <br>
      
      <div class="form-group">
        <br>
        <input type="text" ng-model="pesquisaCadastro" class="form-control" id="pesquisa" name="pesquisa" placeholder="Pesquisar">
      </div>
      
</form>

<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Razão Social</th>
      <th scope="col">Nome Fantasia</th>
      <th scope="col">Nome Responsável</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">Celular</th>
      <th scope="col">Endereço</th>
      <th scope="col">Bairro</th>
      <th scope="col">Cidade</th>
      <th scope="col">UF</th>
      <th scope="col">País</th>
      <th scope="col">CEP</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="cadEmpTabela in cadastrosEmpresas | filter:pesquisaCadastro" ng-click="selecionaEmpCol(cadEmpTabela)">
      
      <td>{{cadEmpTabela.id}}</td>
      <td>{{cadEmpTabela.razaoSocial}}</td>
      <td>{{cadEmpTabela.nomeFantasia}}</td>
      <td>{{cadEmpTabela.nomeResponsavel}}</td>
      <td>{{cadEmpTabela.cnpj}}</td>
      <td>{{cadEmpTabela.email}}</td>
      <td>{{cadEmpTabela.telefone}}</td>
      <td>{{cadEmpTabela.celular}}</td>
      <td>{{cadEmpTabela.endereco}}</td>
      <td>{{cadEmpTabela.bairro}}</td>
      <td>{{cadEmpTabela.cidade}}</td>
      <td>{{cadEmpTabela.uf}}</td>
      <td>{{cadEmpTabela.pais}}</td>
      <td>{{cadEmpTabela.cep}}</td>      
     
    </tr>

  </tbody>
</table>

</div>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.2.1.slim.min.js"></script>
 
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    


    <!-- SCRIPT FORMAÇÃO CPF -->


  <script>
    function formatar(mascara, documento){
      var i = documento.value.length;
      var saida = mascara.substring(0,1);
      var texto = mascara.substring(i)
      
      if (texto.substring(0,1) != saida){
                documento.value += texto.substring(0,1);
      }
      
    }
  </script>


  




  </body>
</html>
